<h1><%= @contact.full_name %></h1>

<ul class="menu">
  <li><b>First Name: <%= @contact.first_name %></b></li>
  <li><b>Last Name: <%= @contact.last_name %></b></li>
  <li><b>E-mail: <%= @contact.email %></b></li>
  <li><b>Note: <%= @contact.note %></b></li>
</ul>

<form action='/contacts/<%= @contact.id %>/edit' method='get'>
  <input type='submit' value='Edit Contact'>
</form>
<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete Contact'>
</form>
