<h1><%= @contact.full_name %></h1>

<ul>
  <li>First Name: <%= @contact.first_name %></li>
  <li>Last Name: <%= @contact.last_name %></li>
  <li>E-mail: <%= @contact.email %></li>
  <li>Note: <%= @contact.note %></li>
</ul>

<form action='/contacts/<%= @contact.id %>/edit' method='get'>
  <input type='submit' value='Edit Contact'>
</form>
<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete Contact'>
</form>
